<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChessGame8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChessGame8.Properties.Settings>
            <setting name="TimePerMoveSlider" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimePerMoveSlider2" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TimePerMoveSlider3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimePerMoveSlider4" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TimePerMoveSlider5" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TimePerMoveSlider6" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="TimePerMoveSlider7" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DifficultyLevel" serializeAs="String">
                <value>легкий</value>
            </setting>
            <setting name="DifficultyLevel2" serializeAs="String">
                <value>средний</value>
            </setting>
            <setting name="DifficultyLevel3" serializeAs="String">
                <value>сложный</value>
            </setting>
            <setting name="ShowHintsOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHintsOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundNotificationsOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundNotificationsOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Theme2" serializeAs="String">
                <value>Dark</value>
            </setting>
        </ChessGame8.Properties.Settings>
    </userSettings>
</configuration>